header  {
    background: #FF7200;
    display: block;
    text-align: center;
    display: block;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 5px;
}

#logo {
    width: 150px;
    height: 150px;
    margin: 15px;   
}

body {
    background: #dddd;
    font-family:"ItauDisplay-Regular","Myriad Pro", Arial;
}

#titulo {
   color: #140083;
   text-transform: uppercase;
   font-family:"ItauDisplay-Regular","Myriad Pro", Arial;
   font-weight: bold;
   font-size: 30px;
   margin-top: 50px;
   text-align: center;
}

.dados-cadastrais {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-block-start: 30px;
    margin-block-end: 30px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"ItauDisplay-Regular","Myriad Pro", Arial;
    font-weight: lighter;
    font-size: 30px;
}

input {
    border-color: #140083;
    width: 500px;
    height: 20px;
}

select {
    border-color: #140083;
    width: 500px;
    height: 25px;
}

.button {
    
}

footer {
    background: #706A66;
    position: absolute;
    width: 100%;
    color: #ffffff;
}

.ita {
    background: #343a40;
    font-family:"ItauDisplay-Regular","Myriad Pro", Arial;
    margin: 15px;
    padding: 1px;
    text-align: center
}

.ita h2 a {
    text-decoration: none;
    color: white;
}

.redes {
    width: 100%;
    text-align: center;
}

.redes ul li {
    list-style-type: none;
    display: inline;
}

.copy {
    text-transform: capitalize;
    text-align: center;
    font-family:"ItauDisplay-Regular","Myriad Pro", Arial;
    font-weight: bold;
    font-size: 20px;
}
