body {
    background:#dddd;
    font-family:Arial, Helvetica, sans-serif;
}

header  {
    background: #FF7200;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 5px;
}

#logo {
    width: 150px;
    height: 150px;
    margin: 15px;   
}

main {
    width: 940px;
    margin: 0 auto;
}

#titulo {
   color: #140083;
   text-transform: uppercase;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 30px;
   margin-top: 50px;
   text-align: center;
}

.texto {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

form {
    margin: 40px 0;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    font-style: italic;
}

form input , form select {
    display: block;
    margin: 0 0 20px;
    padding: 5px 100px;
    border-color: #140083;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

form input:hover {
    border-color: #FF7200;
}

form select:hover {
    border-color: #FF7200;
}

.formulario input {
    box-shadow: 10px 10px 5px #706A66;
}

.formulario select {
    box-shadow: 10px 10px 5px #706A66;
}

select {
    cursor: pointer;
}


.validacao a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color:#FF7200;
    cursor: pointer;
}

.validacao a:hover {
    color: #140083;
}

.validacao input{
    cursor: pointer;
}


#button {
    width: 15%;
    padding: 10px 0;
    background: #140083;
    color: #ffffff;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 10px 10px 5px #706A66;
    
}

#button:hover {
    background: #FF7200;
}

footer {
    background: #706A66;
    position: absolute;
    width: 100%;
    color: #ffffff;
}

.ita {
    background: #343a40;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 1px;
    text-align: center
}

.ita h2 a {
    text-decoration: none;
    color: white;
}

.redes {
    width: 100%;
    text-align: center;
}

.redes ul li {
    list-style-type: none;
    display: inline;
}

.copy {
    text-transform: capitalize;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
